################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/config/applicationhost.config
/.vs/Eventos.IO/v15/Server/sqlite3/db.lock
/.vs/*
/Eventos.IO.Domain/obj/*
/Eventos.IO.Domain/bin/Debug/*
/Eventos.IO.Domain.Core/obj/*
/Eventos.IO.Domain.Core/bin/Debug/*
/src/Eventos.IO.Domain/obj/Debug/netstandard2.0
/src/Eventos.IO.Domain/obj/Debug/netcoreapp2.0
/src/Eventos.IO.Domain/bin/Debug/netcoreapp2.0
/src/Eventos.IO.Domain/bin/Debug/netstandard2.0
/src/Eventos.IO.Domain.Core/bin/Debug/netstandard2.0
/src/Eventos.IO.Domain.Core/obj
