################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/config/applicationhost.config
/.vs/Eventos.IO/v15/Server/sqlite3/db.lock
/.vs/*
/src/Eventos.IO.Domain/obj/*
